README.txt
temp.txt
.htaccess
CHANGELOG.txt
COPYRIGHT.txt
cron.php
index.php
INSTALL.mysql.txt
INSTALL.pgsql.txt
install.php
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
robots.txt
update.php
UPGRADE.txt
clistart.php
deployment.txt
error_log
favicon.ico
htaccess.standard.txt
offline_index.htm
phpunit.phar
placeholder.htm
robots.standard.txt
select2test.html
testAssignments.html
testjs.html
testmvvm.htm
testts.html
testwmtasks.html
topsService.php
tservice.php
typetest.html
uploadtest.php
view.php
xmlrpc.php
cgi-bin/*
files/*
sites/*/settings*.php
sites/*/files
includes/*
misc/*
modules/*
profiles/*
!runscript.php
!fdsnotifications.php
!sendfmareminders.php
themes/*
sites/default/*
sites/all/modules/admin_views
sites/all/modules/backup_migrate
sites/all/modules/ckeditor
sites/all/modules/collapsiblock
sites/all/modules/contemplate
sites/all/modules/devel
sites/all/modules/disable_messages
sites/all/modules/drupalforfirebug
sites/all/modules/flag
sites/all/modules/jquery_ui
sites/all/modules/jquery_update
sites/all/modules/messaging
sites/all/modules/nodeaccess
sites/all/modules/notifications
sites/all/modules/og
sites/all/modules/search_files
sites/all/modules/views_bulk_operations
sites/all/themes/basic
tmp
/fma/js/mxn/
