form div label {
    float: left;
    width: 40%;
    text-align: right;

/*    display: block; */
    font-weight: bold;
    padding-top: 3px;
    padding-right: 5px;
}

form legend {
    font-weight: bold;
    font-style: italic;
    background-color: white;
    padding: 2px;

}


form fieldset {
    border: 1px dotted;
    padding: 5px;
    padding-bottom: 10px;
}
