.swatch1 { background-color: rgb(204,102,102); } /*  #CC6666 terra cotta red */
.swatch2 { background-color: rgb(204,153,102); } /*  #CC9966 darker magenta */
.swatch3 { background-color: rgb(204,204,102); } /*  #CCCC66 lighter magenta */
.swatch4 { background-color: rgb(153,204,102); } /*  #99CC66  purple*/

.swatch5 { background-color: rgb(204,102,153); } /*  #CC6699 brown */
.swatch6 { background-color: rgb(184,61,61); } /*  #B83D3D  darker red */
.swatch7 { background-color: rgb(138,46,46); } /*  #8A2E2E  blue green*/
.swatch8 { background-color: rgb(102,204,102); } /*  #66CC66 blue*/

.swatch9  { background-color: rgb(204,102,204); } /*  #CC66CC light greenish*/
.swatch10 { background-color: rgb(46,138,138); } /*  #2E8A8A  mahogony */
.swatch11 { background-color: rgb(61,184,184); } /*  #3DB8B8  light blue 1 */
.swatch12 { background-color: rgb(102,204,153); } /*  #66CC99  light purpleish blue*/

.swatch13 { background-color: rgb(153,102,204); } /*  #9966CC  seawead green*/
.swatch14 { background-color: rgb(102,102,204); } /*  #6666CC  pukey green */
.swatch15 { background-color: rgb(102,153,204); } /*  #6699CC blueish green*/
.swatch16 { background-color: rgb(102,204,204); } /*  #66CCCC light blue 2*/

