.swatch1 { background-color: rgb(71,71,194   ); } /* #4747C2 dark blue */
.swatch2 { background-color: rgb(133,71,194  ); } /* #8547C2  violet */
.swatch3 { background-color: rgb(194,71,194  ); } /* #C247C2  magenta */
.swatch4 { background-color: rgb(194,71,133  ); } /* #C24785  darker magenta */

.swatch5 { background-color: rgb(194,71,71   ); } /* #C24747  brick red */
.swatch6 { background-color: rgb(194,133,71  ); } /* #C28547  sandy brown */
.swatch7 { background-color: rgb(194,194,71  ); } /* #C2C247  light olive */
.swatch8 { background-color: rgb(133,194,71  ); } /* #85C247  muted green */

.swatch9  { background-color: rgb(71,194,71  ); } /* #47C247  pukey green */
.swatch10 { background-color: rgb(71,194,133 ); } /* #47C285  green blue */
.swatch11 { background-color: rgb(71,194,194 ); } /* #47C2C2  blue green */
.swatch12 { background-color: rgb(71,133,194 ); } /* #4785C2  muted blue*/

.swatch13 { background-color: rgb(117,117,209); } /* #7575D1  bluish purple*/
.swatch14 { background-color: rgb(163,163,224); } /* #A3A3E0  light purple */
.swatch15 { background-color: rgb(209,209,117); } /* #D1D175  greenish sand */
.swatch16 { background-color: rgb(224,224,163); } /* #E0E0A3  sand */
